<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407833668418-e5h0k2necigm7tu7b8092gsfl0sp2f2a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407833668418-e5h0k2necigm7tu7b8092gsfl0sp2f2a</string>
	<key>API_KEY</key>
	<string>AIzaSyCtj31v6iLi1hv9lIUSyMRW_2NZnTkbtsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>407833668418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seonghyeon.MyNetflixApp</string>
	<key>PROJECT_ID</key>
	<string>mynetflixapp-3879d</string>
	<key>STORAGE_BUCKET</key>
	<string>mynetflixapp-3879d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407833668418:ios:4ef2dabeaebd741b6936db</string>
</dict>
</plist>